<!DOCTYPE html>
<html ng-app="myFirstApp">
<head>
    <title>
        Lecture 17 ng-repeat
    </title>
    <script src="angular.min.js"></script> 
    <script src="app.js"></script>  
</head>
<body>
    <div ng-controller="ngRepeatController">
    <h2>Shopping List : </h2>
    <!-- added for module 18 -->
    <input type="text" ng-model="searchItems">  
    <ul>
        <li ng-repeat="item in shoplist1">{{ item }}</li>
    </ul>

    <ul>
        <!-- added filter to search -->
        <li ng-repeat="item in shoplist2 | filter : searchItems">{{item.name}} - {{item.quantity}}</li>  
    </ul>
    <input type="text" ng-model="newItem" placeholder="Insert new item">
    <input type="number" ng-model="newQuantity" placeholder="Insert  quantity"><br><br>
    <button ng-click="addNewItemList()">Add To List</button>
    </div>
</body>
</html>